@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 40 5% 25%;
    --card: 60 56% 94%;
    --card-foreground: 40 5% 25%;
    --popover: 60 56% 94%;
    --popover-foreground: 40 5% 25%;
    --primary: 124 43% 38%;
    --primary-foreground: 60 20% 98%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 40 5% 25%;
    --muted: 60 20% 88%;
    --muted-foreground: 40 5% 45%;
    --accent: 20 15% 56%;
    --accent-foreground: 60 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 124 43% 38%;
    --chart-1: 124 43% 38%;
    --chart-2: 20 15% 56%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 60 56% 92%;
    --sidebar-foreground: 40 5% 25%;
    --sidebar-primary: 124 43% 38%;
    --sidebar-primary-foreground: 60 20% 98%;
    --sidebar-accent: 60 20% 85%;
    --sidebar-accent-foreground: 40 5% 15%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 124 43% 38%;
  }

  .dark {
    --background: 40 5% 10%;
    --foreground: 60 56% 91%;
    --card: 40 5% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 40 5% 12%;
    --popover-foreground: 60 56% 91%;
    --primary: 124 40% 50%;
    --primary-foreground: 120 5% 98%;
    --secondary: 40 5% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 40 5% 20%;
    --muted-foreground: 60 20% 70%;
    --accent: 20 15% 65%;
    --accent-foreground: 20 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 5% 20%;
    --input: 40 5% 20%;
    --ring: 124 40% 50%;
    --chart-1: 124 40% 50%;
    --chart-2: 20 15% 65%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 40 5% 11%;
    --sidebar-foreground: 60 56% 91%;
    --sidebar-primary: 124 40% 50%;
    --sidebar-primary-foreground: 120 5% 98%;
    --sidebar-accent: 40 5% 20%;
    --sidebar-accent-foreground: 60 56% 95%;
    --sidebar-border: 40 5% 20%;
    --sidebar-ring: 124 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
